*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 800px;
}
#root{
    display: flex;
    justify-content: center;
}
.post{
    display: flex;
    padding: 13px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 9px black;
}